@media (min-width: 768) and (max-width: 991px) {
  .medal {
    left: 20px;
    top:100px;
  }
}

@media (max-width: 767px) {
  div#industry{
    top: 0!important;
    margin-bottom: 0;
    padding-top: 0;
    background-image: url('../images/banner.png');
    background-position: 45% 10%;
  }
  .section {
  padding: 50px 0;
  }
  .card-title {
  	font-size: 24px;
	font-weight: 100;
  }
  div.card{  	
  	width: 100%;
    margin: 100px auto 0;
    opacity: 0.95;
  }
}

@media (max-width: 575px) {
  .footer__form >input {
    min-width: 100px;
    padding-right: 10px;
  }
  .footer__headline {
    font-weight: 600;
    font-size: 18px;
  }
}

