@font-face {
  	font-family: "Montserrat-Bold";
  	src: url("../fonts/Montserrat-Bold.otf") format("opentype"),
  	url("../fonts/Montserrat-Bold.ttf") format("truetype");
  	font-weight: 600;
}
@font-face {
	font-family: "MontserratRegular";
	src: url("../fonts/MontserratRegular.otf") format("opentype"),
  		url("../fonts/MontserratRegular.ttf") format("truetype");
  	font-weight: normal;
}
@font-face {
			font-family: "domine";
			src: url("../fonts/Domine-Regular.ttf") format("truetype");
	}


a:hover {
	text-decoration:none;
}
.wrapper {
	max-width: 1970px;
}
.contacts  {
	background-color:black;
	height: 40px;
	font-size: 11px;
	color:white;
}
.email, .tel {
	color: #686c6e;
	text-decoration: none;
	line-height:40px;
}
.navig {
	background-color: white; 
	z-index: 2;
	position: relative;
}
.navbar {
	height:100px;
	margin-bottom:-90px;
}
.navig .active {
	color: #ffac56 !important;
	border-color: #ffac56;
}
.logo {
   	width: 149px;
 	height: 42px;
}
.banner {
	position: relative;
	overflow: hidden;
	height: 702px;
}
.prev, .next {
  background-color: rgb(38, 40, 41);
  width: 46px;
  height: 106px;
  position: relative;
  top: -15%;
}
.section {
	padding: 95px 0;
}

.card {
	border-width: 0;
	border-radius: 0;
	position: absolute;
	left: calc(100vw * 415 / 1970);
  top: calc(100vw * 175 / 1970);;
 	width: 458px;
 	background-color: transparent;
 	color: #ffffff;
 	font-family:MontserratRegular;	
}
.card-header {
  	background-color: rgb(255, 172, 86);
 	border-radius: 0;
 	border-width: 0;
  	height: 117px;
}
.card h5 {
	font-size: 14px;
	line-height: 2;
}
.card-title {
	font-size: 28px;
	font-weight: 100;
}
.card-body {
	background-color: #03b6e7;
	height: 408px;
 }
.card__item {
	min-height: 130px;
}
.card__item > div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.btn {
 	color: white;
 	background-color: #16d428;
 	font-size: 13px;
 	font-family: MontserratRegular;
  line-height: 30px;
  letter-spacing: calc(13px * (-10) / 1000);
 }
.card__item .btn {
 	width: 148px;
	height: 52px;
	border-radius: 26px;
}
.card__item:hover {
	background-color: #00a6d3;
}
 .domine {
 	font-family: Domine;
  line-height: 28px;
 }
.about_us .domine {
	font-size: 15px;
}
 .headline {
 	font-family: Montserrat-Bold;
 	font-size: 32px;
 	line-height: 33px;
 	letter-spacing: calc(32px * (-50) / 1000);
 	margin-bottom: 38px;
 }
.headline > small {
	font-family: MontserratRegular;
	color: #898e8f;
	font-size: 14px;
	line-height: 33px;
	letter-spacing: calc(14px * (-50) / 1000);
}
 
 .about_us .btn {
 	width: 133px;
 	height: 44px;
 	border-radius: 22px;
 	margin-top: 48px;
 }
 .badge {
 	position: relative;
 }
.medal {
	width: 237px;
	height: 280px;
	box-sizing: border-box;
	border: 6px solid #ffffff;
	border-radius: 0;
	background-color: #03b6e7;
	position: absolute;
	left:110px;
	top: 162px;
	color: #ffffff;
	font-family: "MontserratRegular";
	overflow: hidden;
}
.medal img {
	margin-top: -5px;
}
.medal h5 {
	font-size: 75px;
	 line-height: 0.25; 
}
.medal p {
	font-size: 10px;
	line-height: 40px;
	letter-spacing: calc(10px * 75 / 1000);

}
.medal div {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: absolute;
	border: 17px solid  #03b6e7;
}
.medal div > div {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: absolute;
	border: 1px solid  #35c5ec;
}
.steps {
	background-color: #e7eff1;
}
.steps img + p {
  color: #16d428;
  font-family: "MontserratRegular";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: calc(20px * (-25) / 1000);
}
.steps__headline {
   font-family: "Montserrat-Bold";
  font-size: 18px;
  line-height: 33px;
  letter-spacing: calc(20px * (-50) / 1000);
  color: #343a3b;
}
.steps p.domine {
  font-size: 15px;
  color: #838b8c;
}
.projects__img {
  object-fit: cover;
  height:auto;
  width: 100%;
  object-position: 0% 100%;
}
.projects__img_1 {
  object-fit: cover;
  max-height: 464px;
  height: 100%;
  object-position: 0% 100%;
}
.projects__img_row1 {
  max-height: 212px;
  margin-bottom: 30px;
}
.projects__img_row2 {
  max-height: 222px;
  margin-bottom: 30px;
}
.projects__marker {
  box-sizing: border-box;
  left: 0;
  top: calc(100% - 56px);
  border-style: solid;
  border-width: 28px;
  border-color: transparent transparent #03b6e7 #03b6e7; 
}
.projects__marker + div {
  left: 10px;
  bottom: 10px;
  height: 14px;
  width: 4px;
  background-color: #ffffff;
  z-index: 2;
}
.projects__marker + div:after {
  content: "";
  display: block;
  width: 14px;
  height: 4px;
  background-color: #ffffff;
  transform: translate(-5px, 5px);
}
.projects__active {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffac56;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3 linear;
}
.projects__active:hover {
   opacity: 0.95;
}
.projects__active > div > p {
  font-size: 18px;
  letter-spacing: calc(18px * (-25) / 1000);
  margin-bottom: 0;
}
.projects__active > div > p:last-child {
  font-size: 15px;
  line-height: 22px;
}
.img__text {
  left: 20px;
  top: 20px;
  width: 110px;
  height: 33px;
  border: 2px solid #ffac56;
  border-radius: 16.5px;
  color: #ffffff;
  font-family: MontserratRegular;
  font-size: 12px;
  line-height: 33px;
  letter-spacing: calc(12px * (-50) / 1000);
}
.projects__btn {
  width: 162px;
  height: 43px;
  border-radius: 21.5px;
}
.testimonials {
	background-color: #03b6e7;
	color: #ddf8ff;
	line-height: 28px;
}
.testimonials .headline small {
	color: #a6ecff;
	font-size: 14px;
}
.testimonials .headline {
	color: #ffffff;
	margin-bottom: 55px;
}
.slider {
  overflow: hidden;
  position: relative;
  padding-top: 140px;
  height: auto;
  margin-bottom: 50px;
}
.slider__item {
  position: absolute;
  left: 0;
  top: 0px;
  opacity: 0;
  height: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateX(100%);
  transition: transform 0.5s linear;
}
.slider label {
  opacity: 0.5;
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
  border:1px solid #03b6e7;
  border-radius: 50%;
  transition: opacity ease-in-out .2s;
 }

.slider label:hover, 
.slider #slide1:checked ~ div > label,
.slider #slide2:checked ~ div > label,
.slider #slide3:checked ~ div > label {
  opacity: 1;
}
.slider input:checked ~ .slider__item {
  display: block;
  opacity: 1;
  z-index: 1;
 transform: none;
}
.slider h3 {
  font-size: 14px;
  font-family: Montserrat-Bold;
}
.slider .slider__controls {
  padding-top: 50px;
}
.slider .controls .controls__item {
  width: 15px;
  height: 15px;
  border: 3px solid white;
  border-radius: 50%;
}
.slider {
  font-size: 15px;
  color: #ddf8ff;
}
.slider div #slide1:checked > div.slider__controls label {
  background-color: #16d428;
}
.blog {
	background-color: #e7eff1;
  overflow: hidden;
}
.blog a {
  font-family: MontserratRegular;
	font-size: 12px;
	color: #606668;
	line-height: 33px;
  letter-spacing: calc(12px * (-50) / 1000);
	height: 32px;
	width: 140px;
	border-radius: 16px;
	margin-right: 10px;
	border: 2px solid #989fa0;
}
.blog a:first-of-type {
	border: 2px solid #ffac56;
}
.blog a:last-of-type {
	border: 2px solid #989fa0;
}
.blog .section div:nth-child(2) > p > span {
	color: #16d428;
}
.blog .section div:nth-child(3),
.blog .section div:nth-child(4) {
 margin-top: 60px;
}
.blog__heading {
  font-family: Montserrat-Bold;
  font-size: 18px;
  letter-spacing: calc(18px * (-50) / 1000);
  line-height: 33px;
  color: #343a3b;
}
.blog__text {
  display: block;
  max-height: 50px;
  width: 100%;
  overflow: hidden;
  font-size: 15px;
  text-overflow: ellipsis;
}

.contact {
  height: 130px;
  width: 33.3%;
}
.contact > div {
  height: 100%;
   border: 1px solid #e1eaec;
}
.contact p {
  font-size: 18px;
  font-family: "Domine";
  color: #343a3b;
}
div.contact:nth-child(2) {
  margin: 0 auto;
} 
.contact p span {
  font-family: Montserrat-Bold;
  line-height: 33px;
}
.footer {
	background-color: #262829;
}

.footer__text {
  font-family: Domine;
	font-size: 15px;
	line-height: 24px;
	color: #838b8c;
}
.footer__form {
	height: 52px;
	padding-right: 30px; 
}
.footer__form > label {
	border-color:  #323334;
	border-radius: 26px ;
	background-color: #323334;
	color: #5e5e5e;
	height: 52px;
	width: 415px;
	padding-left: 20px;
	margin-right: -52px;
}
.footer__form > label >input {
	font-size: 13px;
	background-color: #323334;
	border-radius: 19px;
	border-color: #323334
}
.footer__btn {
	border-radius: 26px;
	width: 154px;
	height: 52px;
	z-index: 25;
	left: -26px;
}
.footer .w-100 {
  background-color: #323334; 
  height: 2px;
}
.footer__headline {
	color: #e1e1e1;
	font-size: 20px;
}
.footer a {
  color: #6a7172;
  font-size: 13px;
  font-family:  "MontserratRegular";
  line-height: 30px;
}

@media (max-width: 767px) {
  div#industry.card  {
    position: relative;
    left: 0;
    width: 90%;
    margin: 110px auto 0;
  }
  .section {
  padding: 50px 0;
  }
}


 

