@font-face {
			font-family: "MyriadProRegular";
			src: url("../fonts/MyriadProRegular.ttf") format("truetype");
	}
@font-face {
			font-family: "MyriadProBold";
			src: url("../fonts/MyriadPro-Bold.ttf") format("truetype");		
	}
@font-face {
  	font-family: "Montserrat-Bold";
  	src: url("../fonts/Montserrat-Bold.otf") format("opentype"),
  	url("../fonts/Montserrat-Bold.ttf") format("truetype");
  	font-weight: 600;
}
@font-face {
	font-family: "MontserratRegular";
	src: url("../fonts/MontserratRegular.otf") format("opentype"),
  		url("../fonts/MontserratRegular.ttf") format("truetype");
  	font-weight: normal;
}
@font-face {
			font-family: "domine";
			src: url("../fonts/Domine-Regular.ttf") format("truetype");
	}
/*@media screen and (max-width: 576px) {
  div.contact:nth-child(2) {
  margin-left: 0;
  margin-right: 0;
  }
}*/


a:hover {
	text-decoration:none;
}
.wrapper {
	max-width: 1970px;
}
.contacts  {
	background-color:black;
	height: 40px;
	font-size: 11px;
	color:white;
}
.email, .tel {
	color: #686c6e;
	text-decoration: none;
	line-height:40px;
}
.navigation {
	background-color: white; 
	z-index: 2;
	position: relative;
}
.navbar {
	height:100px;
	margin-bottom:-90px;
}
/*.navbar#navbarMenu.navbar-nav.active.nav-link {
	color: #ffac56;
	border-color: #ffac56;
}*/
.logo {
   	width: 149px;
 	height: 42px;
}
.banner {
	position: relative;
	overflow: hidden;
	height: 702px;
}
.prev, .next {
  background-color: rgb(38, 40, 41);
  width: 46px;
  height: 106px;
  position: relative;
  top: -15%;
}
.section {
	padding: 95px 0;
}

.card {
	border-width: 0;
	border-radius: 0;
	position: absolute;
	left: calc(100vw * 415 / 1970);
  	top: calc(100vw * 175 / 1970);;
 	width: 458px;
 	background-color: transparent;
 	color: #ffffff;
 	font-family:MontserratRegular;	
}
.card-header {
  	background-color: rgb(255, 172, 86);
 	border-radius: 0;
 	border-width: 0;
  	height: 117px;
}
.card h5 {
	font-size: 14px;
	line-height: 2;
}
.card-title {
	font-size: 28px;
	font-weight: 100;
}
.card-body {
	background-color: #03b6e7;
	height: 408px;
 }
.card__item {
	height: 130px;
}
.card__item > div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.btn {
 	color: white;
 	background-color: #16d428;
 	font-size: 13px;
 	font-weight: bold;
 }
.card__item .btn {
 	width: 148px;
	height: 52px;
	border-radius: 26px;
	line-height: 30px;
}
.card__item:hover {
	background-color: #00a6d3;
}
 .domine {
 	font-family: Domine;
  line-height: 28px;
 }
.about_us .domine {
	font-size: 15px;
}
 .headline {
 	font-family: Montserrat-Bold;
 	font-size: 32px;
 	color: #343a3b;
 	line-height: 33px;
 	letter-spacing: calc(35px * (-50) / 1000);
 	margin-bottom: 38px;
 }
.headline small {
	font-family: MontserratRegular;
	color: #898e8f;
	font-size: 14px;
	line-height: 33px;
	letter-spacing: calc(14px * (-50) / 1000);
}
 
 .about_us .btn {
 	width: 133px;
 	height: 44px;
 	border-radius: 22px;
 	margin-top: 48px;
 }
 .badge {
 	position: relative;
 }
.medal {
	width: 237px;
	height: 280px;
	box-sizing: border-box;
	border: 6px solid #ffffff;
	border-radius: 0;
	background-color: #03b6e7;
	position: absolute;
	left:110px;
	top: 162px;
	color: #ffffff;
	font-family: "MontserratRegular";
	overflow: hidden;
}
.medal img {
	margin-top: -5px;
}
.medal h5 {
	font-size: 75px;
	 line-height: 0.25; 
}
.medal p {
	font-size: 10px;
	line-height: 40px;
	letter-spacing: calc(10px * 75 / 1000);

}
.medal div {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: absolute;
	border: 17px solid  #03b6e7;
}
.medal div > div {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: absolute;
	border: 1px solid  #35c5ec;
}
.steps {
	background-color: #e7eff1;
}

.testimonials {
	background-color: #03b6e7;
	color: #ddf8ff;
	line-height: 28px;
}
.testimonials .headline small {
	color: #a6ecff;
	font-size: 14px;
}
.testimonials .headline {
	color: #ffffff;
	margin-bottom: 55px;
}
.slider {
  overflow: hidden;
  position: relative;
  padding-top: 120px;
  height: auto;
  margin-bottom: 50px;
}
.slider__item {
  position: absolute;
  left: 0;
  top: 0px;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s linear;
}
.slider label {
  opacity: 0.5;
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
  border:1px solid #03b6e7;
  border-radius: 50%;
  transition: opacity ease-in-out .2s;
 }

.slider label:hover, 
.slider #slide1:checked ~ div > label,
.slider #slide2:checked ~ div > label,
.slider #slide3:checked ~ div > label {
  opacity: 1;
}
.slider input:checked ~ .slider__item {
  display: block;
  opacity: 1;
  z-index: 1;
 transform: none;
}
.slider h3 {
  font-size: 14px;
  font-family: Montserrat-Bold;
}
.slider .slider__controls {
  padding-top: 50px;
}
.slider .controls .controls__item {
  width: 15px;
  height: 15px;
  border: 3px solid white;
  border-radius: 50%;
}
.slider {
  font-size: 15px;
  color: #ddf8ff;
}

.blog {
	background-color: #e7eff1;
}
.blog a:link {
	font-size: 12px;
	color: #606668 !important;
	line-height: 32px;
	height: 32px;
	width: 140px;
	border-radius: 16px;
	margin-right: 10px;
	border: 2px solid #989fa0;
}
.blog a:first-of-type {
	border: 2px solid #ffac56;
}
.blog a:last-of-type {
	border: 2px solid #989fa0;
}
.blog .section div:nth-child(2) > p > span {
	color: #16d428;
}
.contact {
  height: 130px;
  border: 1px solid #e1eaec;
}
.contact p {
  font-size: 18px;
  font-family: "Domine";
  color: #343a3b;
}
div.contact:nth-child(2) {
  margin-left: 32px;
  margin-right: 32px;
}
.contact p span {
  font-family: Montserrat-Bold;
  line-height: 33px;
}
.footer {
	background-color: #262829;
}

.footer__text {
	font-family: "Myriad Pro";
	font-size: 15px;
	line-height: 24px;
	color: #838b8c;
}
.footer__form {
	height: 52px;
	padding-right: 30px; 
}
.footer__form > label {
	border-color:  #323334;
	border-radius: 26px ;
	background-color: #323334;
	color: #5e5e5e;
	height: 52px;
	width: 415px;
	padding-left: 20px;
	margin-right: -52px;
}
.footer__form > label >input {
	font-size: 13px;
	background-color: #323334;
	border-radius: 19px;
	border-color: #323334
}
.footer_btn {
	border-radius: 26px;
	width: 154px;
	height: 52px;
	z-index: 25;
	left: -26px;

}

.footer__headline {
	color: #e1e1e1;
	font-size: 20px;

}
/* .icon_career {
  background-image: url("icon_career.png");
  position: absolute;
  left: 1231px;
  top: 4093px;
  width: 56px;
  height: 56px;
  z-index: 36;
}

.arrow {
  background-image: url("arrow.png");
  position: absolute;
  left: 823px;
  top: 634px;
  width: 26px;
  height: 26px;
  z-index: 276;
}
.arrow {
  background-image: url("arrow.png");
  position: absolute;
  left: 590px;
  top: 765px;
  width: 26px;
  height: 26px;
  z-index: 275;
}
.icon_banking {
  background-image: url("icon_banking.png");
  position: absolute;
  left: 453px;
  top: 728px;
  width: 31px;
  height: 33px;
  z-index: 274;
}
.Banking {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.143;
  position: absolute;
  left: 453.937px;
  top: 762.999px;
  z-index: 273;
}
.arrow {
  background-image: url("arrow.png");
  position: absolute;
  left: 590px;
  top: 634px;
  width: 26px;
  height: 26px;
  z-index: 272;
}
.border_bottom {
  background-color: rgb(0, 166, 211);
  position: absolute;
  left: 415px;
  top: 692px;
  width: 458px;
  height: 1px;
  z-index: 271;
}
.icon_real_estate {
  background-image: url("icon_real estate.png");
  position: absolute;
  left: 683px;
  top: 600px;
  width: 28px;
  height: 28px;
  z-index: 270;
}
.icon_technology {
  background-image: url("icon_technology.png");
  position: absolute;
  left: 452px;
  top: 601px;
  width: 35px;
  height: 25px;
  z-index: 269;
}
.Real_estate {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.143;
  position: absolute;
  left: 682.937px;
  top: 631.999px;
  z-index: 268;
}
.Technology {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.143;
  position: absolute;
  left: 453.795px;
  top: 631.999px;
  z-index: 267;
}
.arrow {
  background-image: url("arrow.png");
  position: absolute;
  left: 823px;
  top: 503px;
  width: 26px;
  height: 26px;
  z-index: 266;
}
.arrow {
  background-image: url("arrow.png");
  position: absolute;
  left: 590px;
  top: 503px;
  width: 26px;
  height: 26px;
  z-index: 265;
}
.border_bottom {
  background-color: rgb(0, 166, 211);
  position: absolute;
  left: 643px;
  top: 561px;
  width: 230px;
  height: 1px;
  z-index: 264;
}
.line {
  background-color: rgb(0, 166, 211);
  position: absolute;
  left: 643px;
  top: 561px;
  width: 1px;
  height: 280px;
  z-index: 263;
}
.icon_business {
  background-image: url("icon_business.png");
  position: absolute;
  left: 682px;
  top: 469px;
  width: 30px;
  height: 28px;
  z-index: 262;
}
.icon_education {
  background-image: url("icon_education.png");
  position: absolute;
  left: 455px;
  top: 468px;
  width: 30px;
  height: 30px;
  z-index: 261;
}
.Business {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.143;
  position: absolute;
  left: 682.937px;
  top: 500.999px;
  z-index: 260;
}
.Education {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.143;
  position: absolute;
  left: 453.937px;
  top: 500.999px;
  z-index: 259;
}
.active_box {
  background-color: rgb(0, 166, 211);
  position: absolute;
  left: 415px;
  top: 434px;
  width: 229px;
  height: 128px;
  z-index: 258;
}
		.What_we_are_About_us {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(137, 142, 143);
  text-transform: uppercase;
  line-height: 2.357;
  text-align: right;
  position: absolute;
  left: 889.937px;
  top: 967.751px;
  z-index: 231;
}
.button {
  background-color: rgb(22, 212, 40);
  position: absolute;
  left: 915px;
  top: 1143px;
  width: 133px;
  height: 44px;
  z-index: 220;
}
.Read_More {
  font-size: 13px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.308;
  position: absolute;
  left: 939.938px;
  top: 1148.998px;
  z-index: 221;
}
.:::Badge_section {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1970px;
  height: 4800px;
  z-index: 239;
}
._25_year_of_excellence_ {
  font-size: 75px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 0.267;
  text-align: center;
  position: absolute;
  left: 1257.066px;
  top: 1285.638px;
  z-index: 238;
}
.badge_icon {
  background-image: url("badge_icon.png");
  position: absolute;
  left: 1273px;
  top: 1099px;
  width: 108px;
  height: 112px;
  z-index: 237;
}
.white_strock {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(3, 182, 231);
  opacity: 0.2;
  position: absolute;
  left: 1229px;
  top: 1121px;
  width: 193px;
  height: 235px;
  z-index: 236;
}
.blue_box {
  border-style: solid;
  border-width: 6px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(3, 182, 231);
  box-shadow: 0px 9px 16px 0px rgba(154, 154, 154, 0.3);
  position: absolute;
  left: 1208px;
  top: 1099px;
  width: 225px;
  height: 268px;
  z-index: 235;
}


 */

